[phases.setup]
nixPkgs = ["python311", "chromium"]

[phases.install]
cmds = [
    "pip install -r requirements.txt",
    "playwright install chromium",
    "playwright install-deps chromium"
]

[start]
cmd = "python3 main.py"
